nav a{
color:white;
text-decoration:none;
margin-left:20px;
transition:all .3s ease;
position:relative;
}

nav a:hover{
color:#00ffff;
text-shadow:0 0 10px #00ffff;
}

nav a::after{
content:'';
position:absolute;
left:0;
bottom:-5px;
width:0;
height:2px;
background:#00ffff;
transition:.3s;
}

nav a:hover::after{
width:100%;
}
