nav a{
color:white;
text-decoration:none;
margin-left:20px;
transition:.3s;
}

nav a:hover{
color:#00ffff;
text-shadow:0 0 10px #00ffff;
}

.orb{
position:absolute;
border-radius:50%;
filter:blur(90px);
opacity:.6;
}
